[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stardust = {editable = true, path = "."}

[dev-packages]
pytest = "*"
black = "*"
twine = "*"

[requires]
python_version = "3.6"

[scripts]
lint = "black ."
test = "pytest"
package = "python3 setup.py sdist"
publish = "twine upload dist/*"
