[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stardust = {file = ".", editable = true}

[dev-packages]
pytest = "*"
black = "*"
twine = "*"
httpx = "*"

[scripts]
lint = "black ."
test = "pytest"
package = "python3 setup.py sdist"
publish = "twine upload dist/*"
